section {
  width: 100vw;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    width: 90%;
    margin-top: 50px;
    margin: 50px auto 0 auto;

    @media screen and (max-width: 900px){
      display: block;
      margin: 0 16px;
    }
  }
}
